29bb3ece3180_11.jpg
carvana-image-masking-challenge.zip
.ipynb_checkpoints
metadata.csv
metadata.csv.zip
model
sample_submission.csv.zip
test_hq.zip
test.zip
train
train_hq.zip
train_masks
train_masks.csv
train_masks.csv.zip
train_masks.zip
train.zip
